{
  "url": "http://localhost:2368/",
  "server": {
    "port": 2368,
    "host": "0.0.0.0"
  },
  "database": {
    "client": "sqlite3",
    "connection": {
      "filename": "/var/lib/ghost/content/data/ghost.db"
    }
  },
  "storage": {
    "active": "google-storage-ghost",
    "google-storage-ghost": {
      "projectId": "Your_project_id",
      "key": "key.json",
      "bucket": "Your_bucket_name",
      "assetDomain": "domain-for-bucket.example.com/name_bucket",
      "insecure": true,
      "maxAge": "2678400"
    }
  },
  "mail": {
    "transport": "Direct"
  },
  "logging": {
    "transports": ["file", "stdout"]
  },
  "process": "systemd",
  "paths": {
    "contentPath": "/var/lib/ghost/content"
  }
}
